body {
    margin: 0;
}

header {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #C7DAF1;
}

.logo {
    width: 80%;
}

header h2 {
    width: 30%;
    padding: 25px;
    text-align: left;
}

header h1 {
    width: 20%;
    margin-right: 30px;
    text-align: center;
    padding: 32px;
    background-color: white;
}

footer {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #C7DAF1;
}

footer h2 {
    width: 30%;
    padding: 25px;
    text-align: left;
}

footer h1 {
    width: 20%;
    margin-right: 30px;
    text-align: left;
    padding: 32px;
    background-color: white;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.main_up {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.centered {
    width: 60%;
    height: 100%;


}

#up
{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: gray;
}

.down
{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.centered div {
    text-align: center;
}

.leftside {
    width: 20%;
    height: 100%;
}

.upblock {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    background-color: white;
}

.upblock h3
{
    margin-left: auto;
    margin-right: auto;
}


.downblock {
    width: 100%;
    height: 80%;
    display: flex;

    background-color: #FDEADA;
}

.rightside
{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDEADA;
}

.downblock p
{
    width: 100%;
    margin: 30px 30px 0 30px;
}

.up img {
    width: 50%;
}
